[2016-08-31 00:15] chalkers opened #4 "Attempted to install on Raspberry Pi - proto unaccessible"
[code]

[2016-08-31 16:09] eighteyes commented on #4
That one got left behind. We're migrating the protobufs to github and those are linked up. 1f45bc

[2016-08-31 16:11] #4 closed

[2016-09-27 19:11] brianofrokk3r opened #6 "Duplicate trigger events received on CLI matrix trigger."
Duplicate trigger events received on CLI matrix trigger. Issue when running `matrix trigger foo`. Received duplicate trigger events on OS level.

[2016-09-27 19:12] brianofrokk3r opened #7 "Application not deploying through matrix deploy app."
When running `matrix deploy foo` with an already-created app, the event is not received on the device, and no app is installed.

[2016-09-27 19:14] brianofrokk3r commented on #6
![screen shot 2016-09-27 at 3 13 27 pm](https://cloud.githubusercontent.com/assets/113014/18888128/0932e624-84c5-11e6-9927-ad1766e9f52a.png)

[2016-09-28 13:52] amoun00 opened #8 "sources.list error"
Dear Matrix-io team,

I am having a problem while getting the sources.list

E: malformed line 5 in source list / etc/apt/sources.list (absolute dist)
E: the list of sources could not be read.

Please help

Rabih

[2016-09-28 14:12] #8 closed

[2016-09-28 14:18] brianofrokk3r commented on #8
Hey @amoun00, If you have a resolution pertinent to the documentation please drop it here! Otherwise, we're glad you fixed it!

[2016-09-30 16:19] nebiljabari opened #10 "[SOLVED] run clock.matrix app"
@eighteyes  Could you be more explicite about this line in the ReadMe :

`monitor` stand for what ? My-app folder ? If yes, "where" exactly my-app should be. In `matrix-os/apps` ?

And how can I make run your clock.matrix app example ? I only receive dots in my terminal

[2016-09-30 16:24] eighteyes commented on #10
Dots in the terminal means you are running the app. The dots represent the light.  Are you not seeing the LEDS change?

[2016-09-30 16:26] nebiljabari commented on #10
Really want to say yes but no LEDs light up

[2016-09-30 16:27] eighteyes commented on #10
Are you running malos in another terminal?

[2016-09-30 16:29] nebiljabari commented on #10
Absolutly:

[code]

[2016-09-30 16:31] nebiljabari commented on #10
Plus, when I enter this line : `START_APP=monitor node index.js` in `~/matrix-os` folder I get this error:

Local Apps: [ 'clock.matrix' ]
Local / Installed Δ 1
MXSS Connected: http://rc-mxss.admobilize.com
=<[^\/^]>= [my-device-id] ready
 _  _ ____ ___ ____ _ _  _
 |\/| |__|  |  |__/ |  \/   [o__o]
 |  | |  |  |  |  \ | _/\_  v0.5.0
Error: No user installed firebase application: monitor
    at /h

[2016-09-30 18:52] brianofrokk3r commented on #10
Hey @nebiljabari I think you're good, we have to remove `START_APP=monitor` from docs. We will do this. Remove it in the meantime and tell me if this works for you.

[code]

[2016-09-30 19:33] nebiljabari commented on #10
Ok @brianofrokk3r here is where Iam

- in `~/matrix-os` if I do : `NODE_ENV=rc node index.js`
The LED light spin then stop. In the console some output no error

- in `~/matrix-os` if I do : `NODE_ENV=dev node index.js`
The LED light spin endlessly. In the console bunch of output + each second : `sdk <3-> +1s {}`
when I kill some minor error about child process

- in `~/matrix-os/apps` if I do : `N

[2016-09-30 19:48] brianofrokk3r commented on #10
LED spin means stack initialization, so that's good. Stay on `rc`. In your app, view the `config.yaml` and make sure the folder name matches the `name` property. Currently adding a ticket to make sure this field is updated automagically when an application is created.

If you see:
[code]

You've instantiated.

[2016-09-30 19:49] nebiljabari commented on #10
@eighteyes just saw your comment update

- in `~/matrix-os` it make the spin light then stop same as `node index.js` + the error wrote previously except istead : `monitor` it's logically wrote `clock`

- in `~/matrix-os/apps` or `~/matrix-os/apps/clock` same as upper "dots and dots"

[2016-09-30 20:03] nebiljabari commented on #10
Yes @brianofrokk3r I have this output

[code]

Then I kill the process because I can't enter any command (bad mouv ?). I even tried to let it run and in another terminal window launching the clock. Same dots result

[2016-09-30 23:07] brianofrokk3r commented on #10
No, all good! You have to run applications from the CLI interface now. You can run the system as a background process like so if you want:

[code]

From there you can tail the response:

[code]

We'll be putting this as a service in the next few days so you won't have to do that soon.

[2016-10-01 16:56] nebiljabari commented on #10
I don't clearly understand. Do you mean that : `sudo matrix start <app-name>` ?
Here is my full "unworking" procedure :
- 1 - `sudo matrix set env rc` // when my rPi boot (just to be sure)
[code]
- 2 - `sudo matrix login`
[code]
- 3 - `sudo matrix use <my-device-id>`
`Now using device id: <my-device-id>`

- 4 - `source .envrc`

- 5 - `malos` // in another terminal window
[code]
- 6 - `cd matrix-os

[2016-10-01 17:40] nebiljabari commented on #10
Ok @eighteyes maybe a good clue I think you've set the default branch on dev and not master
when I `git clone https://github.com/matrix-io/matrix-os.git`
I have to specified `-b master `otherwise I get the dev branch

Same thing if I go to your repo from the web : https://github.com/matrix-io/matrix-os
Branch: dev (by default)

[2016-10-01 22:18] nebiljabari opened #11 "[SOLVED] Device Error undefined"
It appears, since the recent change, that I was cloning the dev branch.
With the dev my Matrix initialized but refuse with the master: `Device Error undefined` and the light spin endlessly until I kill. I even tried to re-register my device. No success

Here's my procedure :
- 1 - `sudo matrix set env rc` // just to be sure
- 2 - `sudo matrix login` // success
- 3 - `sudo matrix use <my-device-id>

[2016-10-02 01:20] brianofrokk3r commented on #11
Hey @nebiljabari, there's got to be something missing, maybe `sudo` is the culprit. I just ran the following steps:

Local Machine:
* `npm install matrix-cli -g`
* `matrix set env rc`
* `matrix register`
* `matrix login`
* `matrix list devices`
* `matrix use xyz`

Raspberry Pi:
* `git clone https://github.com/matrix-io/matrix-os.git`
* `npm install` // need node and initial packages installed
* `m

[2016-10-02 03:41] diegoribero commented on #11
Hey @nebiljabari, in addition to what @brianofrokk3r says, please post the whole output or a few more lines right before that part (make sure to remove any info you don't want to share publicly), we've been unable to reproduce it so far

[2016-10-02 13:07] nebiljabari commented on #11
Hey @brianofrokk3r , @diegoribero
- Node = v6.7.0
- Linux raspberrypi 4.4.21-v7+ #911 SMP Thu Sep 15 14:22:38 BST 2016 armv7l GNU/Linux
- Matrix CLI = 1.1.20
- matrix-os = 0.5.0 (cloned from master brnach)

If I don't `sudo` :
[code]

Here is the full output on `~/matrix-os` with `node index.js` or `NODE_ENV=rc node index.js` (same thing)

[code]
If it can help, the output when I kill:
[code]

[2016-10-02 14:17] nebiljabari commented on #11
Ok maybe a good clue, In MATRIX CLI Header :
[code]

`sudo matrix list devices`

[code]
No matter what I do with the CLI command and the order I do it. It refuse to ok = ok on my new registration (all the words of the deviec line are green and "no" is yellow)
[code]

[2016-10-02 15:01] eighteyes commented on #11
@nebiljabari can you run the matrix os with `DEBUG=sdk` flag? that output will have your secrets in it, so please edit it appropriately before posting. we're looking for the last endpoint. i believe it should be `/v2/device/token`. there might be an issue we can resolve on our side. there should be something that looks like `[post]>`. i am very curious what that shows.

[2016-10-02 15:23] nebiljabari commented on #11
Here it is @eighteyes

[code]

I checked the `my-new-device-id` and `my-new-crypted-key` upper and they match. Meaning the crypted key is the one I received after the new ID when I re-registered my Matrix

[2016-10-02 15:40] eighteyes commented on #11
OK! Awesome! It's pointing to our production server. That isn't right. :) It should be pointing to our RC server.

Please run with `NODE_ENV=rc` flag

[2016-10-02 15:46] eighteyes commented on #11
Also, please git pull on the matrix repo, we've updated master

[2016-10-02 16:14] nebiljabari commented on #11
"Bravo" @eighteyes !
I `git pull` the repo and `NODE_ENV=rc node index.js`  or just `node index.js` init my Matrix

[code]

next fight... the clock example ! ;-)

[2016-10-02 16:15] #11 closed

[2016-10-02 16:17] eighteyes commented on #11
Great! I love to see that!

[2016-10-02 16:19] eighteyes commented on #11
PS: Copy the clock to your desktop, remove the .matrix name from the folder, and deploy it to your device. That will register it.

[2016-10-02 16:52] nebiljabari commented on #11
@eighteyes just to be clear, when you say desktop you mean ~/Desktop/clock right ?
Here is my output after several tries :

[code]

node is running in background :
[code]
what did I missed ? :-/

[2016-10-02 20:07] eighteyes commented on #11
Hmm, that error from the CLI should have been resolved. Can you `DEBUG=*` on the deploy command and paste the version numbers here

[2016-10-02 20:34] nebiljabari commented on #11
Is that the info you want @eighteyes ?

`sudo DEBUG=* matrix deploy clock`

[code]

[2016-10-02 21:07] eighteyes commented on #11
Hmm, that seems very reasonable.

Please run Matrix OS with `DEBUG=*,-engine*,-Component*` Ignore everything until the ready.

Run the matrix commands with `DEBUG=*` to  give us more info about what is going on from the cli side. I'm not exactly sure where the error is happening, I suspect it's having trouble on the matrix os side.

`matrix uninstall clock`

about 10 lines of messages should write

[2016-10-02 21:52] nebiljabari commented on #11
Ok Sean here is the thing. If I read well your `package.json` any of your scripts target `NODE_ENV=rc`
`"debug": "DEBUG=*,-engine*,-Component* NODE_ENV=dev node index.js"`
- Do you want me to switch in `dev` mode ?

So, when I try in ~/matrix-os : `DEBUG=*,-engine*,-Component* node index.js`
-bash: -engine* : unfound command (translate from french)

When I `DEBUG=* node index.js`

[code]

I think

[2016-10-03 00:12] eighteyes commented on #11
Don't put spaces in the debug value. It needs to be a single string after the =

The scripts are for development purposes, not really intended for end users.

[2016-10-03 15:03] nebiljabari commented on #11
Fine @eighteyes here is the output after `ready`

[code]

I email you the full output just in case

[2016-10-03 16:18] eighteyes commented on #11
No that's good. That means the system is solid. Those empty objects are just the heartbeat. If you just start it normally, there should be a line that says `Installed Apps:`. That is the apps registered to that device. If clock doesn't show up on there, then do `matrix deploy clock`.

[2016-10-04 14:29] nebiljabari commented on #11
Ok @eighteyes what do you think of this output. It seems like a progress? :
`Config Validation Error configuration has no keywords`

Here the full story :
[code]

[2016-10-04 15:10] eighteyes commented on #11
Awesome, thanks for updating. You shouldn't need `sudo matrix` anymore.

Ok! I know what the issue is. The `config.yaml` isn't passing the validator because it doesn't have keywords. You can add `keywords: clock, led` into the config file, or wait for an update to `matrix-app-config-helper` (today some time), because that restriction has annoyed me too, and I want to make it just an alert, not a r

[2016-10-04 16:14] nebiljabari commented on #11
Maybe it's coming from me but I don't succeed to pass throw the error :-/

`config.yaml`

[code]

[2016-10-05 15:31] eighteyes commented on #11
Hmm. Uninstalling should remove the configuration. I've fixed the validator, if you update `matrix-app-config-helper` on the device it should not throw that error anymore.

If nothing else, you could rename the folder, and app.name to `clock2` and try again. That will upload the new configuration.

[2016-10-05 15:39] nebiljabari commented on #11
Im actually working on it! ;-)
I have already `~/matrix-os $ git pull` and `sudo apt-get update && upgrade` but your [npm page](https://www.npmjs.com/package/matrix-app-config-helper) still indicate 0.1.3

[2016-10-05 15:46] eighteyes commented on #11
i didn't publish a new version number, i can do that. i thought it would update. ;(

[2016-10-05 19:56] nebiljabari commented on #11
Ok Sean after many try I call for help. I used several variation but this error still beat me
[code]

I tried to put the values as string like I saw online. No effect - `config.yaml`

[code]

The full story :
[code]
matrix-cli : 1.1.25
matrix-os : 0.5.4
matrix-app-config-helper : 0.1.5

[2016-10-05 20:04] eighteyes commented on #11
`clock5` isn't showing up under local apps, did you deploy it?

maybe change the name of the folder to `clock5.matrix` on your device in the `apps` folder

[2016-10-05 21:42] nebiljabari commented on #11
"Victoire Sean" ! ;-)
I put aside the firebase errors Ive received (unless it help you)

`pi@raspberrypi:~/matrix-os $ START_APP=clock node index.js`

[code]

[2016-10-05 21:46] #7 closed

[2016-10-05 21:47] brianofrokk3r commented on #6
@eighteyes

[2016-10-05 21:49] nebiljabari commented on #10
solved here :[ issue #11 ](https://github.com/matrix-io/matrix-os/issues/11#issuecomment-251808291)

[2016-10-05 21:50] #10 closed

[2016-10-05 21:57] eighteyes commented on #6
:( ok

[2016-10-07 03:03] eighteyes commented on #6
Unable to reproduce @brianofrokk3r Please re-open if this shows up again.

[2016-10-07 03:03] #6 closed

[2016-10-07 19:07] eighteyes commented on #11
Wooot! Awesome! Thanks for your email to our team. Your comments are very important to us!

[2016-10-07 21:00] nebiljabari commented on #11
"Merci Sean". Im pleased you appreciate it ! :-)

[2016-10-13 20:08] brianofrokk3r opened #15 "TypeError: _.pluck is not a function on MATRIX OS when running matrix stop app"
Application instance not available for updating status. alert
[code]

[2016-10-13 20:09] brianofrokk3r commented on #15
@eighteyes

[2016-10-14 03:28] #15 closed

[2016-10-14 17:58] brianofrokk3r opened #16 "Create install.sh for matrix-os and supporting libs."
@diegoribero do it.

[2016-10-14 18:02] brianofrokk3r opened #17 "Node installation docs refactor."
@eighteyes you had a better way which is not documented here. Let's revise the current method.

[2016-10-14 18:04] brianofrokk3r opened #18 "Matrix install app enabled from matrix-os."
@eighteyes @diegoribero

[2016-10-18 16:07] nebiljabari opened #19 "Installed Apps: stay blank"
With the new updates : `Matrix CLI 1.2.0` - `Matrix OS 0.5.5`
I tried several times to run the clock exemple unsuccessfully. Im always stuck in the same step. `Installed Apps :` stay blank causing a `Firebase Warning`

[code]

When I `matrix list apps` I see the deployed app

[code]

I tried to rename the app and to redo the procedure allowing me to run it last week. No success

[2016-10-18 16:20] eighteyes commented on #19
We had a lodash 3 hanging around. I believe it's in the `matrix-node-sdk` module. That module should be updated to the latest and run `npm dedupe` to resolve the different versions in your node modules.

[2016-10-19 19:52] nebiljabari commented on #19
I followed your advice and now :

[code]

[code]

ps: I use `sudo`because I can't deploy without (you create the `.zip` file in a protected area)

[2016-10-19 22:52] eighteyes commented on #19
This has been addressed. We've got upgrades installed, so matrix and it's subcomponents should update automatically.

[2016-10-19 22:52] eighteyes commented on #19
Please install 0.5.6 of matrix os

[2016-10-19 23:06] eighteyes commented on #19
We're still working on uninstall. :) I don't think that removes cleanly.

[2016-10-21 08:00] DieterKoblenz opened #21 "UNKNOWN ERROR! TypeError: Matrix.service.firebase.user.watchAppInstall is not a function"
I am getting the following error on the most recent matrix-os:

`Installed Apps:
Local Apps: [ 'clock.matrix' ]
Local / Installed Δ 1
FIREBASE WARNING: Exception was thrown by user callback. TypeError: Matrix.service.firebase.user.watchAppInstall is not a function
    at setupFirebaseListeners (/home/pi/matrix-os/index.js:257:37)
    at /home/pi/matrix-os/node_modules/matrix-firebase/node_modules/

[2016-10-26 15:58] brianofrokk3r commented on #21
@DieterKoblenz -- didn't see this until now, looks like all you need to do is...

This is happening because one of the `node_modules` is not updated. Try this:
[code]

**Note:** If you're starting fresh...
[code]

[2016-10-26 16:59] adrian2lee opened #22 "API Error: 400 - Missing deviceSecret parameter."
after node index.js

I have .envrc file in ~

source .envrc

[2016-10-26 17:19] adrian2lee commented on #22
SOLVED by something

in matrix-os/ again and also made
source .envrc
again

[2016-10-26 17:58] yoelrc88 opened #23 "We need better log files. Consolidated logging."

[2016-10-26 20:36] eighteyes commented on #23
This is an issue queue, not a feature request. Please move features through pivotal and provide MUCH more detail about what you're looking for. 📦  =P

[2016-10-26 20:36] #23 closed

[2016-10-26 20:37] eighteyes commented on #22
Great! Closing! Darn submodules.

[2016-10-26 20:37] #22 closed

[2016-10-26 20:39] manojkumardas7 opened #25 "Stopping an app that has already been stopped"
So if we try to stop an app that probably is already stopped or does not exist, from the CLI,  Matrix-OS stops running and needs to be started again... That should not happen.

[2016-10-27 15:36] adrian2lee commented on #22
I keep having to do source .envrc after reboot to bypass this error message, how can I fix this permanently?

[2016-10-28 14:44] eighteyes commented on #22
`cat .envrc >> ~/.bash_profile` should load it on startup

[2016-11-01 16:11] eighteyes opened #31 "Fix name error in face app"
when running face example in `matrix-src-apps` I get a crash.
[code]

[2016-11-01 16:15] brianofrokk3r commented on #21
@DieterKoblenz let us know if you have any issues.

[2016-11-02 05:28] eighteyes commented on #31
@brianofrokk3r uploaded the latest to sc/gesture, there is a merge conflict, i'll fix that tomorrow, but it has those files that were missing

[2016-11-02 18:05] diegoribero commented on #31
Both face and gesture worked for me after the update, just had to install them from `dev`, switched back to `sc/gesture` and viola! We can test once more after conflict resolution and I think we are good to merge

[2016-11-03 17:46] brianofrokk3r commented on #25
@diegoribero I believe this is fixed, can you validate?

[2016-11-03 17:48] brianofrokk3r commented on #19
@diegoribero updates, i see some PRs for this, want to make sure we update this one.

[2016-11-04 16:07] diegoribero commented on #25
You are right @brianofrokk3r, 28336239c99ff88a99e6fa9388f37a86ff46e156 fixed it and it's already merged to master

[2016-11-04 16:07] #25 closed

[2016-11-04 16:57] diegoribero commented on #19
OS 0.6.0 has been merged to master, this is now working :)

[2016-11-04 17:00] #19 closed

[2016-11-04 17:01] #18 closed

[2016-11-07 16:42] brianofrokk3r commented on #31
@diegoribero @eighteyes we should close this.

[2016-11-07 16:47] brianofrokk3r commented on #31
Resolved in [v0.6.0](https://github.com/matrix-io/matrix-os/releases/tag/v0.6.0)

[2016-11-07 16:48] #31 closed

[2016-11-07 16:49] brianofrokk3r commented on #21
Resolved in [v0.6.0](https://github.com/matrix-io/matrix-os/releases/tag/v0.6.0)

[2016-11-07 16:49] brianofrokk3r commented on #21
@DieterKoblenz please let us know if you have any additional issues. Please pull latest version from master.

[2016-11-07 16:49] #21 closed

[2016-11-07 16:50] #17 closed

[2016-11-20 01:34] daadu opened #38 "Permission denied error"
[code]

[2016-11-20 01:43] daadu commented on #38
I rebooted pi. and tried again. this time i got this

[code]

i have install node, matrix-os, etc

i have also created file ~/.

[2016-11-20 01:43] #38 closed

[2016-11-20 01:44] daadu opened #39 "permission denied for firebase"
[code]

[2016-11-20 01:50] daadu commented on #39
i haven't installed matrix-cli on pi.

should i install it on pi and register device on pi instead of another machine?

[2016-11-20 01:51] daadu commented on #39
I am following this: https://matrix-io.github.io/matrix-documentation/#matrix-cli-setup

[2016-11-21 16:18] eighteyes commented on #39
That is a known issue, and will be resolved this week. It won't affect the stability of your device.

[2016-11-21 16:19] eighteyes commented on #39
`matrix-cli` is intended to be installed on another computer. i suppose you could install it on the `pi`, i can't see why that wouldn't work, but that isn't what we've been testing.

[2016-11-21 17:08] eighteyes commented on #39
I made a hotfix for that issue. If you go to the `matrix-os` folder on your pi and issue `matrix reinstall matrix-firebase` it should resolve it.

[2016-11-21 17:08] #39 closed

[2016-11-24 22:49] daadu commented on #39
I did:

[code]

I reboot raspi

and then i did:

[code]

the error is still present.

my current version of matrix-firebase is:

[code]

[2016-11-24 23:18] daadu commented on #39
problem solved by removing matrix-firebase from node_modules directory and running npm install

[2016-11-25 21:29] adrian2lee opened #40 "Uncaught exception: Error: .matrix_heartbeat.Beat#services is not a field: undefined"
[code]

i tried removing node_modules and reinstalling with npm install, didnt work. Any ideas?
This happens with faceTest, demographicTest and gestureTest

[2016-11-25 21:38] adrian2lee commented on #40
Solved doing this again( I think):
`git submodule update --init`

[2016-11-25 21:38] #40 closed

[2016-11-26 01:41] brianofrokk3r commented on #40
@adrian2lee this is confirmed as the resolution, thanks!
[code]

[2016-12-03 14:22] #16 closed

[2017-01-12 19:07] opogc opened #49 "Error Install CLI on Local machine"
Hi guys! I am trying to install the CLI following your instructions but I am getting an error. (No found git)
Can you please help me.
Thanks
-----

npm WARN addRemoteGit Error: not found: git
npm WARN addRemoteGit     at getNotFoundError (/usr/lib/node_modules/npm/node_modules/which/which.js:13:12)
npm WARN addRemoteGit     at F (/usr/lib/node_modules/npm/node_modules/which/which.js:68:19)
npm WAR

[2017-01-13 05:59] eighteyes commented on #49
Did you do this step

[code]

That installs git first thing.

[2017-01-13 06:01] eighteyes commented on #49
Interesting, yes, I suppose git is needed for the auto upgrade functionality. We just assumed most developers had git.

You can use your package manager (apt-get install git) to install git, or wait until we can fix this bug.

[2017-01-17 20:20] brianofrokk3r opened #51 "When you manually fill in the color array for `matrix.led()`, it does not allow you to rotate."
When you manually fill in the color array for `matrix.led()`, it does not allow you to rotate. Attempting to re-create the everloop.

[2017-01-17 20:34] eighteyes commented on #51
Please provide example code?

[2017-01-26 16:13] brianofrokk3r opened #52 "matrix.on('face') method fails to fire cb() after application has been restarted. Please test with faceTest app."
`matrix.on('face')` method fails to fire cb() after application has been restarted. Please test with faceTest app. Please see example below.

[code]

[2017-01-26 17:40] eighteyes commented on #52
Unable to reproduce

[2017-01-26 21:19] brianofrokk3r opened #53 "matrix.on('face') response data does not return expected results. Should be returning full proto."
Running API:
[code]

Currently, logging `data` returns...
[code]

Expecting to return full data set...
[code]

[2017-01-26 21:20] brianofrokk3r opened #54 "matrix.led().darken(50) is not currently an active API. Expected to be able to set LED intensity."
`matrix.led().darken(50)` is not currently an active API. Expected to be able to set LED intensity.

[2017-01-26 22:21] brianofrokk3r opened #55 "matrix.init('temperature') returning not returning any values in Apps. malos examples are returning data."
Messages being passed through the system:

[code]

[2017-01-26 22:42] brianofrokk3r opened #57 "accelerometer data comes through with gyro data, should come through when accelerometer is requested only."
For example:
[code]

returns:
[code]

`gyroscope` should return:
[code]

[code]

`accelerometer` should return:
[code]

[2017-01-27 00:19] brianofrokk3r commented on #55
Still reviewing this...

[2017-01-27 16:20] eighteyes commented on #53
Having issues getting the buffer into the application. I think it gets lost between MOS and the app layer.

[2017-01-27 16:22] eighteyes commented on #55
I got sensorTest to work yesterday

[2017-01-27 16:50] #55 closed

[2017-01-27 16:52] #52 closed

[2017-01-27 16:53] eighteyes commented on #54
`darken` has serious performance issues. It should just be removed from the docs until we figure it out.

[2017-01-27 16:56] eighteyes commented on #51
@brianofrokk3r have you tried `matrix.led( ... ).rotate( n )` ?

[2017-01-27 17:19] brianofrokk3r commented on #51
Tested with the following code, should be working. You can also install the app to your device `matrix install ledRotationTest`.

Example App
[code]

[2017-01-27 19:42] #51 closed

[2017-01-27 21:07] brianofrokk3r commented on #54
@eighteyes removed from API until we adjust.

[2017-01-27 21:07] #54 closed

[2017-01-27 23:15] brianofrokk3r opened #60 "Ability to Add Faces to your Recognition Database"

[2017-01-27 23:15] brianofrokk3r opened #61 "Ability to Remove Faces from your Recognition Database"

[2017-01-27 23:16] brianofrokk3r opened #62 "Ability to compare detected faces against faces within the recognition database, and return a response of whether or not a face has matched."

[2017-01-30 19:44] brianofrokk3r opened #63 "Test"

[2017-01-30 20:01] #63 closed

[2017-02-03 14:33] diegoribero commented on #49
Closing this since Git is already listed as a requirement in [MATRIX CLI Installation docs](https://matrix-io.github.io/matrix-documentation/CLI/installation/)

[2017-02-03 14:33] #49 closed

[2017-02-03 15:26] brianofrokk3r opened #65 "Issue when toggling on and off apps that use Face Detection."
When toggling on/off apps that use face detection, seems that `malos_eye` is not getting reinitialized for subsequent uses of the same application. Therefore, no face detection events are fired after future uses.

[2017-02-24 17:11] brianofrokk3r commented on #65
@eighteyes @diegoribero did we get to this?

[2017-02-24 17:11] brianofrokk3r commented on #57
@eighteyes resolved?

[2017-02-26 17:49] eighteyes commented on #65
Nope. It's probably an issue with all the services. I'll look at it this
week.

On Fri, Feb 24, 2017 at 9:11 AM, Brian Sanchez <notifications@github.com>
wrote:

[2017-03-10 17:50] #62 closed

[2017-03-10 17:50] #61 closed

[2017-03-10 17:51] #60 closed

[2017-03-10 17:51] brianofrokk3r commented on #65
@eighteyes

[2017-03-10 18:33] brianofrokk3r commented on #53
@eighteyes we should re-test this.

[2017-03-18 01:32] vjoao opened #70 "YAML config file"
Hello, this is just to raise some discussion =)

Is there any particular reason of choosing YAML as the main config entrypoint?
Why not an easier to parse and understand format like JSON?

[2017-03-18 01:36] vjoao opened #71 "HTS221 sensor reading wrong values for temperature"
Humidity seems to be OK but temperature readings always seem to be off.
This might be caused by driver issues not being able to calibrate the sensor on startup.

Any thoughts?

[2017-03-18 01:37] vjoao commented on #71
Moved to HAL

[2017-03-18 02:11] vjoao commented on #71
Moved to MALOS

[2017-03-18 02:11] #71 closed

[2017-03-18 04:03] eighteyes commented on #70
YAML is easier for humans to parse then JSON, it takes a little learning, but we aren't asking for very complicated structures. Plus it won't go crazy if you add an extra comma or use single quotes.

We are striving to make our system as approachable as possible for novice developers, while retaining sufficient power and flexibility for advanced users.

[2017-03-18 18:22] vjoao commented on #70
Point taken =)

[2017-03-18 18:22] #70 closed

[2017-03-20 15:44] #65 closed

[2017-03-20 15:44] #57 closed

[2017-03-21 22:19] eighteyes commented on #53
@brianofrokk3r i was just in this code with services update, this works.

[2017-03-21 22:19] #53 closed

[2017-03-28 20:33] brianofrokk3r opened #73 "MATRIX OS - Receiving App Events via Input (or in general) - e.g. Input from Dashboard to MATRIX OS App."
Receiving App Events via Input (or in general) - e.g. Input from Dashboard to MATRIX OS App.

[code]

[2017-03-28 20:48] eighteyes commented on #73
The app is closing before this.

On Tue, Mar 28, 2017 at 1:33 PM, Brian Sanchez <notifications@github.com>
wrote:

[2017-03-28 21:00] brianofrokk3r commented on #73
[code]

[2017-04-04 16:48] eighteyes opened #74 "DevMode : network throws error"
[code]
running local mos

[2017-04-05 20:51] diegoribero commented on #74
That is a debug mesage, probably caused by your current os user being unable to `wpa_cli -i wlan0 status` without sudo.
With a dedicated user this shouldn't be an issue (the service implementation should use a new user)

[2017-04-08 09:26] delsner opened #76 "Matrix OS: Error upgrading MOS API dependencies: Error: spawn /bin/sh ENOENT"
Hi,

I am getting the Error "Error upgrading MOS API dependencies: Error: spawn /bin/sh ENOENT" when starting up the matrix os. It worked until last night, just this morning it occured for the first time when I was starting up the matrix os. Do you know of any dependencies that have been updated last night that could have broke it?

Thanks in advance.

[2017-04-12 04:19] eighteyes commented on #76
Try `npm run upgrade` from the `matrix-os` repo.

[2017-04-21 15:05] Hermitter opened #79 "Issues with GPIO"
I can't get the GPIO pins to properly work. Works in HAL, but not in MOS and MALOS. No errors are being logged either.
@eighteyes
@diegoribero

[2017-04-24 21:39] brianofrokk3r commented on #71
![](https://github.trello.services/images/mini-trello-icon.png) [Sensor reading wrong values from Temperature](https://trello.com/c/W9lciHXw/3-sensor-reading-wrong-values-from-temperature)

[2017-04-24 22:34] brianofrokk3r commented on #79
![](https://github.trello.services/images/mini-trello-icon.png) [debug on GPIO usage are throwing errors in MATRIX OS](https://trello.com/c/Sfd1v2lV/4-debug-on-gpio-usage-are-throwing-errors-in-matrix-os)

[2017-04-24 22:36] #76 closed

[2017-04-25 13:04] gordinh commented on #73
@brianofrokk3r can you give me more details of this app? I tested here the input event with some apps and worked fine for me.

[2017-04-25 13:08] brianofrokk3r commented on #73
Any app will throw this error. If it's not reproducible we can close.

[2017-04-25 14:21] gordinh commented on #73
OK, i could reproduce here with the ClickGames app too.
`==== Application ClickGames started! ====
(ClickGames) Matrix OS Application Library Loading...

(ClickGames) [M]->app { eventType: 'container-ready', app: 'ClickGames', pid: 4764 } app-ClickGames-message

(ClickGames) [M]->app { eventType: 'container-ready', app: 'ClickGames', pid: 4764 } app-ClickGames-message

[]
(ClickGames) [M]() send -

[2017-04-25 14:21] gordinh commented on #73
Ok i could reproduce too with the ClickGames.
[code]

[2017-04-27 22:26] brianofrokk3r opened #80 "When attempting to install and run "Face App" from video linked in description, an error is thrown, and app does not start."
When attempting to install and run "Face App" from from [this video](https://youtu.be/8jkWwum8O8Q), an error is thrown, and app does not start.
[code]
Config
[code]

[2017-04-27 22:40] brianofrokk3r commented on #80
@gordinh

[2017-04-27 22:57] gordinh commented on #80
This app is on store? I am not finding neither on apps.matrix.one nor dev-apps.matrix.one
Can you show me the app.js then?

[2017-04-27 22:59] krishkal commented on #80
I just followed the steps in the video on bottom right of the page: https://creator.matrix.one/#!/develop/start

[2017-04-27 23:00] krishkal commented on #80
In the first step, the app.js is very simple:

`matrix.init('face').then(function(data){
    console.log(data);
});`

[2017-04-27 23:05] gordinh commented on #80
oh, try to use `matrix.service('face').start().then(function(data){ console.log(data); });` as you can see it here: [https://matrix-io.github.io/matrix-documentation/API/computer-vision/](url)

[2017-04-27 23:15] krishkal commented on #80
OK, so please either have them remove that video or have them update it! Having a "getting started" video that doesn't work does not build a Noob's confidence for sure.

Now, I am not getting that error. But, I do get an different error:

[ 'FACE' ]
Face <Buffer 45 52 52 4f 52 3a 20 43 6f 75 6c 64 20 6e 6f 74 20 72 65 61 64 20 66 72 61 6d 65>
SERVICE ERROR undefined

[2017-04-27 23:18] krishkal commented on #80
And those 2 lines keep repeating for ever until the app is killed.

[2017-04-27 23:28] Alfred-AdMobilize opened #81 "Error occurring with recogTest"
Error

[code]

Config

[code]

[2017-04-27 23:31] gordinh commented on #80
Sorry about that we gonna update that. Can you restart MALOS?

[2017-04-27 23:40] krishkal commented on #80
Yes, tried restarting several times already. Same thing happens.

[2017-04-27 23:42] krishkal commented on #80
Is MALOS same as matrix-os? The one that I start with

NODE_ENV=rc node index.js

[2017-04-28 00:01] gordinh commented on #80
MALOS is a another service. You can kill it with sudo pkill -9 malos_eye.
And then you run the MOS again with NODE_ENV=rc node index.js

[2017-04-28 00:31] krishkal commented on #80
OK, that made it better. At least, I don't see the errors streaming by anymore.

However, the face detection doesn't seem to be happening. Whether or not I stand in front of the camera, it just keeps printing to the console:

[ 'FACE' ]
[]
[ 'FACE' ]
[]
[ 'FACE' ]
[]
[ 'FACE' ]
[]

over, and over again. At this point, my app.js reads:

matrix.led('red').render();

matrix.service('face').start().th

[2017-04-28 00:47] gordinh commented on #80
Oh. OK. Do you mind trying if you are using the right orientation of the camera?

[2017-04-28 01:05] krishkal commented on #80
Yes, I did. I used the PiCamera on Python to show the preview image on screen, and saw my face in the right orientation. The matrix was not impressed at all.

[2017-04-28 01:17] krishkal commented on #80
Is there a way from within the Matrix app to show the preview on screen?

[2017-04-28 01:40] gordinh commented on #80
hm... @krishkal unfortunately. Let's try this okay? Can you open two terminal sessions on the pi, on one of them kill the malos_eye again with the `sudo pkill -9 malos_eye` and the run `malos_eye` again (just type it). on the other run the mos and run the Face app. Show me output for both of them.

[2017-04-28 02:04] krishkal commented on #80
OK, now it is back to the error state. Here are the outputs:

Malos_eye:

pi@raspberrypi:~/matrix-os$ sudo pkill -9 malos_eye
pi@raspberrypi:~/matrix-os$ malos_eye
**************
MALOS eye starting
**************

You can query specific driver info using port 22012.
Registered driver GESTURE with port 22013.
Configuring camera id: 0
Configuring resolution 640x480
End
Gesture initialization done
Ne

[2017-04-28 16:14] brianofrokk3r commented on #80
Hey @krishkal, sorry for the inconvenience here, please make sure to do the appropriate upgrades to your system first:

[code]

The start your application again.

[2017-04-28 16:49] krishkal commented on #80
No need to apologize @brianofrokk3r, glad you are persisting with this.

I did exactly as you suggested. The first command did update a bunch of stuff, but all the matrix-os stuff pretty much said I was already up to date (not surprising, since I just installed it all 2 days ago).

Rebooted, fired it up regular, got the same SERVICE ERROR screen on MOS.

Fired up another terminal, pkilled malos_ey

[2017-04-28 17:04] krishkal commented on #80
Don't know if this is helpful, but I did try to make sure that the camera was operational using PiCamera on Python. If I reboot, and try PiCamera first, the camera is shown on screen fine. However, once I run the Matrix face detection and then try the PiCamera, it is unable to read it with "Failed to enable connection: Out of resources" error.

[2017-04-28 17:30] brianofrokk3r commented on #80
@krishkal this seems like it may have something to do with the camera being in use or reserved for another process. MALOS_eye might not be detecting this, and may be failing as a result. I can check with the team to confirm this. In the meantime please ensure all other camera services are off to validate these findings.

[2017-04-28 17:31] brianofrokk3r commented on #80
@arhuaco malos_eye is returning a failure message when it's attempting to read the stream. The frames come through when using PiCamera, so it's not a "camera seating" issue.

[code]

[2017-04-28 17:46] krishkal commented on #80
@brianofrokk3r I made sure to bring up MOS immediately after reboot, so I don't think anything else is getting in. I also looked at ps -aux to see if anything looks like it may hog the camera. I don't see anything. Here is the output, in case you can spot anything:

USER       PID %CPU %MEM    VSZ   RSS TTY      STAT START   TIME COMMAND
root         1  1.1  0.4  22868  3900 ?        Ss   17:40

[2017-04-28 18:05] arhuaco commented on #80
@brianofrokk3r :

From what I read the error "VIDIOC_STREAMON: Invalid argument" can happen when you kill a program that is accessing the camera and then start it again (or start another program that uses it). (v2l stuff).

So the message doesn't imply that the camera isn't working.

@krishkal , what distro are you running? Is it easy for you to try a headless boot (no X)?

[2017-04-28 18:07] krishkal commented on #80
Running stock raspbian. Let me see if I can figure out a headless boot method for it.

[2017-04-28 18:17] krishkal commented on #80
OK stopped X-server by running sudo systemctl set-default multi-user.target, and rebooting. SSH into the box, fire up matrix-os. Bring up face-demo from CLI.

No joy. Same exact result.

[2017-04-28 18:19] krishkal commented on #80
BTW, Top shows 98% idle, with ~700Mb out of 1GB free.

[2017-04-28 18:22] krishkal commented on #80
I meant to say stock Raspbian/Jessie.

[2017-04-28 18:27] krishkal commented on #80
I am using the Raspberry Pi Camera V2, in case that makes a diff.

[2017-04-28 20:50] krishkal commented on #80
So, have you guys given up on this? Does the face detection work with ANY configuration? If so, what configuration?

[2017-04-28 21:43] arhuaco commented on #80
In a meeting. I can help soon. We know it's working, we have to find out why it isn't working for you and I can help debug. For instance, sending custom programs that give us more output.

Let's start checking if the basic detection is working for you by using the basic examples:

[2017-04-28 21:55] arhuaco commented on #80
I'll write a small program and send it to you. I need to setup my env, doing it. It will just open the camera and see if it works. Let's start from there.

[2017-04-28 22:07] krishkal commented on #80
Hey, getting somewhere. The malos-eye program basically worked. It detected my face everytime, and either said "MALE-ANGRY" or "MALE-SAD", which were both probably correct emotions I am feeling because I can't get this thing to work ;)

Also, the Palm/Fist detector also seemed to detect OK.

[2017-04-28 22:12] arhuaco commented on #80
@krishkal: this is good news, thanks for testing. Can you check if you can still get things working after a few restarts of MALOS-eye? (just to see if things work smoothly at the v2l layer). That is: restart, check, restart, check. I think that 3 times will do.

If it works for you all the time we will need to check things from the Matrix OS side. CC @eighteyes . Maybe MALOS-eye is getting an inva

[2017-04-28 22:19] arhuaco commented on #80
In the example query_demographics.js things can be a bit confusing because we are printing the raw proto and the actual emotion (or field meaning) depends on the "tag" field of the [FacialRecognition](https://github.com/matrix-io/protocol-buffers/blob/master/vision/vision.proto#L65) message. I'll add a ticket so that we (probably me) improve this demo.

    var data = new matrixVisionBuilder.Visio

[2017-04-28 22:26] krishkal commented on #80
OK pkilled and restarted malos_eye 3 times, and checked query_demographics every time, and it produces an output when I stand in front of it, and none when I am not. So, I think we can call this a success.

[2017-04-28 22:57] eighteyes commented on #80
Hi @krishkal I just installed the face app and was able to do a recognition.

We're trying to narrow down some causes. Can you look in your `matrix-os` output and look for something like this.
[code]
Please paste that here. Thanks for your patience.

[2017-04-28 23:12] krishkal commented on #80
I started Matrix OS, and this time it said Upgrade Ready, 0.12.0 now available. After upgrading, it restarted. Then I tried the app again, and this time it worked!

Maybe the upgrade did the trick?

[2017-04-28 23:24] krishkal commented on #80
Uh, oh. For a good measure, I rebooted the Pi, and went back to start Matrix OS again. Now, Matrix OS simply won't start. Output is:

Environment Selected: rc
Loading Core Matrix Files
Loading...  device
/home/pi/matrix-os/lib/device/network.js:200
  stop: function () {
  ^^^^
SyntaxError: missing ) after argument list
    at Object.exports.runInThisContext (vm.js:76:16)
    at Module._compile (mo

[2017-04-29 00:29] krishkal commented on #80
Guys, any ideas here? I am dead in the water...

[2017-04-29 00:38] krishkal commented on #80
pi@raspberrypi:~/matrix-os$ git status
On branch master
Your branch is up-to-date with 'origin/master'.
nothing to commit, working directory clean
pi@raspberrypi:~/matrix-os$ NODE_ENV=rc node index.js
Environment Selected: rc
Loading Core Matrix Files
Loading...  device
/home/pi/matrix-os/lib/device/network.js:200
  stop: function () {
  ^^^^
SyntaxError: missing ) after argument list
    at Objec

[2017-04-29 13:47] brianofrokk3r commented on #80
@krishkal do a latest pull from `master`, I believe this is fixed now.

[2017-05-01 16:51] krishkal commented on #80
@brianofrokk3r Yes, this seems to be fixed now.

Also, faceTest seems to be working now as well.

[2017-05-01 17:07] krishkal commented on #80
Now that everything seems to be working as it should :), trying to learn a bit more about this... Is the ComputerVision "service" running on the R-Pi processor, or on the Matrix board? I know the sensor processing runs on the Matrix. But, trying to figure out what, if any, of the following runs on the Matrix, as opposed to the main R-Pi:

1. Capture of vision frames (i.e., malos_eye): I see malos_

[2017-05-01 21:11] gordinh commented on #81
@Alfred-AdMobilize just to be on equal terms here. About this message: `undefined service name init [ 'engine', undefined, undefined, 'type', undefined, undefined ] ` i've made a PR fixing this now. I have debugged the app and mos too. At the app, i talked with Sean and it looks like when triggering the button event for train || recog faces it disconnects from the mxss serve. Can you look if this

[2017-05-04 13:19] gordinh commented on #80
Sorry for the long delay @krishkal  :pensive:
So answering you:
1. The malos_eye runs the RPi. `I assume that function has nothing to do with the Matrix board as such`  it's a way to think, the malos_eye is a process like anyother running on the RPi.
2. No, the matrix.service is a call to MOS [MATRIX OS], and then the MOS process and calls the malos_eye and process that information. The MOS runnin

[2017-05-04 20:00] Alfred-AdMobilize opened #83 "Error with recogTest"
Error:

[code]

When app is closed

[code]

Side note: There is no error when training a face but once they try to trigger recog it doesn't recognize them and throws the first error.

[2017-05-05 12:48] gordinh commented on #83
@Alfred-AdMobilize can you ask them to verify if some of these messages below are showing:
[code]

[2017-05-05 23:52] krishkal commented on #80
Thanks @gordinh. "The MOS running in the RPi can call services and sensors on the MATRIX board". So, by "services" I assume things like face detection. Is the source code for these services (that run on the MATRIX board) open? If so, where can I see it? I am trying to figure out what those look like, and how I can go about extending or changing them to suit some projects I have in mind.

[2017-05-06 00:08] gordinh commented on #80
Well for services you can look in the computer vision section on the link I had sent before. There you will see examples and the output. You can also run the MOS with `DEBUG=*` option to see all logs. You can also see the code in the repository on the lib folder for services :)

[2017-05-06 00:57] krishkal commented on #80
Sorry, @gordinh, I am not seeing what you are seeing. If I go to the Code tab above, and go to lib/service I see a bunch of Javascript files. None of these are the source code for the services such as the Computer Vision services (face, palm, fist, etc.) which presumably run inside the matrix board. Where is the disconnect? Am I not understanding something right?

[2017-05-11 13:34] gordinh commented on #80
Sorry i think i didn't understanded your question. My bad. You can look for matrix-gesture in our repos, there are the sdks (node, c++ and python) https://github.com/matrix-io/matrix-gesture-cpp-sdk for example
About the Face algorithm that one isn't open.

[2017-05-16 18:14] KyleJosling opened #84 "Error when attempting to stop apps."
I get the following error when attempting to stop an app:

[code]

Applications can start but they are not able to stop. I have to reconnect the device using NODE_ENV=rc node index.js every time I want to deploy a new app version

[2017-05-17 14:38] gordinh commented on #84
Hi @KyleJosling can you pass me the steps you had done until starting that error?  Also, which version of the MOS are you running? Did you try to stop the app from the `matrix-cli`, `matrix dashboard` or the `mobile app`?

[2017-05-17 15:04] KyleJosling commented on #84
Hi @gordinh , thanks for the reply. I'm using the newest version of MOS ( 0.14.0). I'm trying to stop the app from the matrix-cli. To start the MOS i use:

[code]

I can run something like

[code]

from the CLI, but as soon as I do

`matrix stop ledDemo`

It gives me the error above. and the MOS stops.

[2017-05-17 22:35] #84 closed

[2017-05-17 22:36] eighteyes commented on #84
@KyleJosling thanks for reporting this, it was an issue with some recent changes.

Please update to `v0.14.1` and try again, it should be working.

[2017-05-18 00:38] arleneF opened #85 "face detection app generate error on OS when use "matrix start" from CLI"
I follow the instruction online to run the simple face detection application:
https://www.youtube.com/watch?v=8jkWwum8O8Q
and I also take a look at post #80.
right now my config.yaml is

	Buildindetection:
		engine: detection
		type: face

and the app.js is simply
`matrix.service('face').start.then(function(data){
	console.log(data);
});`

but I still get the error message from matrix os:

==== Ap

[2017-05-18 13:02] gordinh commented on #85
Hi @arleneF on `matrix.service('face').start.then(function(data){ console.log(data); });`, start is a function, so should be `start()`

[2017-05-18 17:46] arleneF commented on #85
Thanks for replying. @gordinh
Even I changed start to start(), similar thing happens:
(buildindetection)err invalid service declared. No configuration available for  face

Stopping buildindetection
(buildindetection)err /home/pi/matrix-os/apps/buildindetection.matrix/app.js:1
(function (exports, require, module, __filename, __dirname) { matrix.service('face').start().then(function(data){

[2017-05-18 18:07] gordinh commented on #85
You are using the latest MOS version? Also show me your app.js and config.yaml

[2017-05-18 18:46] arleneF commented on #85
I think it is the latest one, I download it four days ago, and also do `sudo apt-get update && sudo apt-get upgrade` today.
Here's my app.js:

[code]

and config.yaml:

[code]

[2017-05-18 20:13] gordinh commented on #85
Ok @arleneF i've just tested here and as you can see below there's nothing wrong on it. Please check if you are using `0.14.1` version:
[code]

[2017-05-19 00:31] arleneF commented on #85
oh I found my OS version is v0.14.0, so I have to re-install it again? since I did update and upgrade several times and the version keeps the same.

[2017-05-19 16:18] gordinh commented on #85
You can just use `git pull` to update the repo.

[2017-05-22 17:42] #85 closed

[2017-05-23 21:18] arleneF commented on #85
same thing happens again even I update the matrix-os to the latest version (v0.14.1)

==== Application buildindetection started! ====
(buildindetection) Matrix OS Application Library Loading...

(buildindetection) service> undefined

(buildindetection)err invalid service declared. No configuration available for  face

Stopping buildindetection
(buildindetection)err /home/pi/matrix-os/apps/buildind

[2017-05-23 21:23] arleneF opened #86 "update of issue#85: sevice undefined when start face detection app from matrix OS"
same thing happens again even I update the matrix-os to the latest version (v0.14.1)
(this issue is related to issue #85)
==== Application buildindetection started! ====
(buildindetection) Matrix OS Application Library Loading...

(buildindetection) service> undefined

(buildindetection)err invalid service declared. No configuration available for face

Stopping buildindetection
(buildindetection)e

[2017-05-23 21:47] eighteyes commented on #86
Seems like your configuration file is invalid.

[code]

Make sure
[code]
is in your config.yaml

[2017-05-23 23:22] arleneF commented on #86
I'm pretty sure my code is as the same as online tutorial:

config.yaml:
[code]

app.js:
[code]

and my os version is 0.14.1, I really cannot figure out why my app does not working, need help!!!
Thanks.

[2017-05-24 14:45] eighteyes commented on #86
`types` should be `type` in the last line of the config.

If it still doesn't work try the below.

Please start `matrix-os` with `DEBUG=* node index.js` and paste us all the output after 2 lines above the MATRIX ascii. This will help us diagnose.

[2017-05-24 14:48] eighteyes commented on #86
Yea, I can't find `types` anywhere. Can you point me to where you found that tutorial so I can get it fixed? Thanks.

[2017-05-24 17:46] arleneF commented on #86
I'm so sorry that just my typo, now my face application works.
Thanks so much for helping me, and next time I'll try the debug mode.

[2017-05-24 17:46] #86 closed

[2017-06-01 15:33] gordinh commented on #81
fixed on #82

[2017-06-01 15:33] #81 closed

[2017-06-17 10:32] benjhess opened #90 "Everloop LED's not working properly"
Hi,

i installed matrix-os on a fresh raspbian jessie. It seems like that the Everloop LED's are not working. For example: I installed the clock app and tried to execute it on the pi:
`$ matrix install clock`
`$ matrix run clock`

All that happens now, is that the leds start to show some random crazy pattern and then they stop changing. The "clock" app still runs and there are no error messages.

[2017-06-17 10:45] benjhess commented on #90
Btw: Power supply has 5v, 2.0 A. I will now test with another power supply that has a max of 4.2 A

[2017-06-19 21:44] massonpj opened #91 "Can't Find Open Source Software Licenses"
Looking at the Indiegogo campaign the project page states, "MATRIX Voice: Open-Source Voice Platform For All", "MATRIX Voice is an open-source VOICE RECOGNITION platform consisting of a 3.14-inches in diameter dev board, with a radial array of 7 MEMS microphones connected to a Xilinx Spartan6 FPGA & 64 Mbit SDRAM with 18 RGBW LED’s & 64 GPIO pins", "Open-Source Voice Platform for All", "Matrix Ope

[2017-06-20 16:07] diegoribero commented on #91
Hey Patrick

Thank you for pointing this out, the LICENSE files have now been included.

[2017-06-20 16:07] #91 closed

[2017-07-17 15:46] manzonif opened #96 "Problem after upgrade v0.15.0"
Hi, after last upgrade I have a couple of problems:
1) I have to start  Malos manually although it started automatically in the past.
2) arecord / sox don't work
arecord -q -r 16000 -D mic_channel8 -c 1 -t wav -f S16_LE test.wav

 Arecord: main: 722: audio open error: Device or resource busy

Any Idea?

[2017-07-17 16:35] manzonif commented on #96
Solved with a fresh install.
thanks

[2017-07-19 23:01] #80 closed

[2017-09-23 11:18] Whuzz commented on #96
How did you manage to upgrade to 0.15?
I am stuck getting the upgrade to happen do to https://github.com/matrix-io/matrix-creator-quickstart/issues/30

[2017-09-25 19:58] gordinh commented on #96
Hi @whuzz are you using Stretch Raspbian? if so i just commented there. We will have complete support for Rasbpian Jessie and Stretch this week.

[2017-09-26 07:05] Whuzz commented on #96
I started using Stretch, but that gave me loads of trouble installing Matrix OS, where it couldn't find the right git paths etc. So I switched back to Jessie.

I'd prefer to use Stretch, as that has much better bluetooth support, so I can use the BT speakers properly.

[2017-11-28 19:45] Eccabrera commented on #80
hello, a i'm new at matrix-os. Has anyone add a gpio output to this Face-demo?

[2018-02-11 17:51] jaapmurre opened #104 "Error with faceTest and emotionTest"
After having started malos_eye in a separate CLI (not mentioned in beginner's guides), and starting node index.js, I finally some reaction by the system to the standard face tests for beginners with Matrix OS. However, on seeing a face or on detecting an emotion, I keep getting the following error. It seems the tags such as 'HAPPY' are now coded as numbers like 4 (I may be wrong, just a guess). I

[2018-02-12 14:33] maciekrb commented on #104
Hello @jaapmurre

Can you please provide the following information to help us out diagnose the issue ?

* Raspbian release (codename) you are using (jessie, stretch)
* NodeJS version you are running
* link to the documentation you are currently following to install MALOS Eye

Thanks !

[2018-02-12 20:29] jaapmurre commented on #104
Hi Maciek,

I downloaded NOOBS two days ago and installed it as Raspian. When I do
uname -a it says: Linux raspberrypi 4.9.59-v7+ #1047 SMP Sun Oct 29
12:19:23 GMT 2017 armv7l GNU/Linux

I have Node.js 6.7.0

I used this page:
https://github.com/matrix-io/matrix-creator-quickstart/wiki/MALOS-eye

Thanks for your quick reaction!

      -- Jaap

On Mon, Feb 12, 2018 at 3:33 PM, Maciek Ruckgaber <not

[2018-02-13 17:39] maciekrb commented on #104
Hey, we patched the problem up. Please download the latest MOS release and re-run your application. If that doesn't work for some reason, please follow the provided steps to get a working installation:

1. Start with a fresh Raspbian (stretch) and add MATRIX debian repo and keys

[code]

2. APT update

[code]

3. Install latest version of MATRIX MALOS & git

[code]

4. Install node `n` package man

[2018-02-14 23:08] jaapmurre commented on #104
Hi Maciek,

Thanks for the install info and for getting back so fast!!!

I got the faceTest from examples working, though in your list of steps, I
first had to uninstall nodeJS before being able to install the new one.

I could not, however, get this one to work:
https://github.com/matrix-io/matrix-examples/blob/master/demographicTest:
demographics is empty, {}, and the leds stay red no matter wha

[2018-02-22 21:39] alronz opened #108 "duplicates events on recognition service"
I am using the recognition services and I get duplicates events when I call any function of the recognition service (train, getTags, etc ..) more than once. For example: the below code:

[code]

Will produce "tags results" twice on the second time if I call the above function twice.

I guess the problem is from the below line:
https://github.com/matrix-io/matrix-os/blob/dev/apps/lib/service.js#L19

[2018-02-23 13:14] lucasmoraisdev commented on #104
Hi @jaapmurre can you please check again regarding the empty demographics? I just merged a fix about so it should be working if you do a pull in dev branch.
About the gesture can you check it again? it should be detecting normally too

[2018-02-26 13:25] lucasmoraisdev commented on #108
Hi @alronz thanks for the help. I've just merged to dev, fixing this. Yes, the `once` makes more sense and stop this duplicates. Thanks :)

[2018-02-26 13:25] #108 closed, assigned to nobody

[2018-03-02 20:03] jaapmurre commented on #104
Hi Lucas,

Yes, I pulled the latest dev version and rebuild node: gestures and
demographics are working now.

Thanks!

     -- Jaap

On Fri, Feb 23, 2018 at 2:14 PM, Lucas Morais <notifications@github.com>
wrote:

[2018-03-05 14:10] lucasmoraisdev commented on #104
Hi @jaapmurre,

Happy to hear that :)

Closing it, Thanks.

[2018-03-05 14:10] #104 closed, assigned to nobody

[2018-05-02 06:04] cara opened #111 "Starting matrix-os Illegal instruction"
Using matrix-os on a raspberry pi zero w with node 6.5 and Raspbian Stretch.

Followed the instruction on how to setup, but every time I try to start matrix-os, it fails:

`pi@raspberrypi:~/matrix-os $ node index.js
Environment Selected: production
Loading...  device
Illegal instruction`

I already tried to reinstall it, but didn't change anything.
The matrix-creator-malos JS samples are working f

[2018-05-15 21:52] Hermitter opened #112 "Computer Vision does not currently work"
None of the CV apps I made or downloaded from the MATRIX App Store worked.

[2018-05-15 21:53] Hermitter commented on #112
None of the CV apps I made or downloaded from the MATRIX App Store worked.

[2018-05-15 21:55] Hermitter opened #113 "GPIO does not currently work"
Works fine in HAL and MALOS, but MOS had no response.

[2018-05-16 18:35] Hermitter opened #114 "zigbee does not currently work"
MATRIX OS outputs:
[code]

[2018-05-18 06:56] quentin1120 opened #115 "Trying to run google assistant with raspberry pi and matrix creator"
Hey I am new to this but I keep running into this issue with the last step of turning on the assistant

ALSA lib bluealsa-pcm.c:679:(_snd_pcm_bluealsa_open) Couldn't get BlueALSA transport: No such device
[FATAL:audio_input_stream.cc(47)] Input device could not be opened: default
Aborted

[2018-05-28 18:23] henryoliver opened #116 "Update dependency to zeromq.js"
Please, update the `zmq` dependency to the new `zeromq`.
http://zeromq.github.io/zeromq.js/
https://github.com/zeromq/zeromq.js

Thanks!

[2018-05-29 16:19] diegoribero commented on #116
Hi @henryoliver, we are already using `zeromq`

https://github.com/matrix-io/matrix-os/blob/22211c581c332ecfd7ebc31a23d48e782f6fbca1/lib/service/zeromq.js#L5

https://github.com/matrix-io/matrix-os/blob/22211c581c332ecfd7ebc31a23d48e782f6fbca1/package.json#L72

[2018-05-31 12:09] henryoliver commented on #116
@diegoribero awesome! :)

[2018-05-31 12:09] #116 closed, assigned to nobody

[2018-05-31 19:08] Hermitter opened #117 "IFTTT does not currently work"

[2018-06-04 14:57] Hermitter opened #118 "LEDs need to be updated for MATRIX Voice"
The recent protocol buffer changes require MOS to now recognize if a user's MATRIX device is a Voice or Creator.

[2018-06-14 12:30] khld commented on #115
+1

[2018-07-19 17:52] hsuanpai commented on #115
+1

[2018-09-21 12:53] ahmedelshawadfy opened #119 "action regenerating make file"
ACTION Regenerating Makefile
make: Warning: File '../binding.gyp' has modification time 6835295 s in the future
it takes so long time ! Why ? Is there any solution ?

[2018-10-15 10:30] stoneWeb opened #120 "How to use javascript to get direction of arrival"
How to use javascript to get direction of arrival ?
How to implement the algorithm？